%h4 Will I Like This?

= form_tag('/home/yesorno', :class => 'nice') do
  = text_field_tag('url', nil, :placeholder => 'Enter a URL', :class => "oversize input-text")
  = submit_tag('Submit', :class => "black nice button radius")
